* {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    /*background-color: #091848;*/
    /*background-color: navy;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

td {
    background-color: #f2f2f2;
    width: 270px;
    height: 60px;
}

tr {
    background-color: red;
}

table {
    margin: 20px;

}

.standart_td_title {
    background-color: #89c331;
    height: 40px;
}

.standart_title {
    color: #ffffff;
    font-size: 24px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.ultimate_td_title {
    background-color: #f04a56;
}

.ultimate_title {
    color: #ffffff;
    font-size: 30px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.premium_td_title {
    background-color: #20807c;
}

.premium_title {
    color: #ffffff;
    font-size: 24px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.choose_your {
    box-shadow: inset -2px 0px 1px 0px rgba(209, 201, 209, 1);
}

.choose_your_text {
    /*font-family: Arimo;*/
    padding-top: 40px;
    color: #484848;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.pricing_plan_text {
    padding-bottom: 78px;
    color: #484848;
    font-size: 30px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.pricing_plan {
    box-shadow: inset -2px 0px 1px 0px rgba(209, 201, 209, 1);
}

.price_massive {
    color: #484848;
    font-size: 60px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.contact_us_btn {
    border-radius: 5px;
    background-color: #484848;
    width: 192px;
    height: 49px;
    color: white;
    margin-left: 30px;
    font-size: 15px;
}

.buy_now_1_btn {
    border-radius: 5px;
    background-color: #89c331;
    width: 192px;
    height: 49px;
    color: white;
    margin-left: 30px;
    font-size: 15px;
}

.buy_now_2_btn {
    border-radius: 5px;
    background-color: #f04a56;
    width: 192px;
    height: 49px;
    color: white;
    margin-left: 30px;
    font-size: 15px;
}

.buy_now_3_btn {
    border-radius: 5px;
    background-color: #20807c;
    width: 192px;
    height: 49px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 15px;
}

.text_in_td_centered {
    /*padding-left: 10px;*/
    line-height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.far {
    margin-right: 13px;
}

.fas {
    margin-right: 13px;
}

.logo_margin {
    margin-right: 10px;
}

/*.pricing_plan {*/
/*margin-bottom: 100px;*/
/*}*/

.standart_price_amount {
    box-shadow: inset -2px 0px 1px 0px rgba(209, 201, 209, 1);
}

.price_massive {
    display: inline-block;
}

.price_thin {
    display: inline-block;
    color: #484848;
    font-size: 24px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    /*margin-top: 90px;*/
}

.price_anatation {
    display: inline-block;
    color: #484848;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.gray_bc {
    /*box-shadow: inset -2px 0px 1px 0px rgba(209,201,209,1);*/
    background-color: #e3e3e3;
}

.lightgray_bc {
    /*box-shadow: inset -2px 0px 1px 0px rgba(209, 201, 209, 1);*/
    background-color: #ececec;
}

td {
    /*box-shadow: inset -2px 0px 1px 0px rgba(209,201,209,1);*/
}

.limited_text {
    padding-right: 50px;
}

.ultimate_price_amount {
    box-shadow: inset -2px 0px 1px 0px rgba(209, 201, 209, 1);
}

.boxShad1, .boxShad2, .boxShad3, .boxShad4, .boxShad5, .boxShad6 {
    box-shadow: inset -2px 0px 1px 0px rgba(209, 201, 209, 1);
}

.support {
    /*margin-right: 20px;*/
    padding-left: 82px;
}

.violet-bgc {
    background-color: #374765;
}